*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Calibri;
}
header, footer{
    width: 100%;
    height: 111px;
    background-color:#f8f9fa;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 80px;
    height: 80px;
}
#logo img{
    width:100%;
    height: 100%;
}

nav{
    overflow: none;
}
#navbarNav{
    justify-content: center !important;
     
}
#navbarNav ul{
    width: 500px;
    justify-content: space-evenly;
}
#navbarNav ul li a{
    font-size: 18px;
}

#genreNavContainer{
    width: 100%;
    list-style: none;
    justify-content: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#formContainer #id_name{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid darkblue;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
}
/*  */
.input {
    width: 200px;
    height: auto px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.button{
    width: 100px;
    height: 40px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    margin-left: auto ;
    border: none;
    margin-bottom: 10px;
}

.navbar-collapse{
    justify-content: space-evenly !important;
}
.navbar-collapse ul{
    width: 200px !important;
    justify-content: space-between;
}
.navbar-collapse ul li a{
    font-weight: bold;
    font-size: 18px;
}

.mr-auto, .mx-auto{
    margin-right: 0px !important;
    justify-content: space-between;
    width: 200px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}